.test1 {
    background-color: #007bff;
}

.test2 {
    background-color: #9900ff;
}

.test3 {
    background-color: #ff0099;
}

.test4 {
    background-color: #84ff00;
}

.test5 {
    background-color: #ff8800;
}

.test6 {
    background-color: #ff0000;
}